name: CI - Build & Push Strapi Image

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main

env:
  IMAGE_NAME: strapi-app

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build & Push Docker Image
      run: |
        IMAGE_TAG=${GITHUB_SHA}
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/${IMAGE_NAME}:$IMAGE_TAG my-strapi
        docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${IMAGE_NAME}:$IMAGE_TAG \
                   ${{ secrets.DOCKERHUB_USERNAME }}/${IMAGE_NAME}:latest
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/${IMAGE_NAME}:$IMAGE_TAG
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/${IMAGE_NAME}:latest
